{% extends 'Guest/Head.html'%}
{% load static %}
{% block content %}
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h4 class="text-center">Change Preference</h4>
    <form action="" method="post" id="groupform" data-group-url="{% url 'Guest:groups' %}">
        {% csrf_token %}
        <table align="center" cellpadding="10">
            {% for event in data %}
            <tr>
                <td>{{ event.name }} Interested</td>
                <td>
                    <input type="text" name="preference_{{ event.id }}"
                        placeholder="Enter your preference (negative values allowed)"
                        value="{% if event.id in preferences %}{{ preferences[event.id] }}{% endif %}">
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" align="right"><input type="submit" value="Submit" name="btn"></td>
            </tr>
        </table>
        {% if messages %}
        {% for message in messages %}
        <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
            data-timeout="3000" role="alert">
            {{message}}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</body>

</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}