{% extends 'Organizer/Head.html'%}
{% load static %}
{% block content %}
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="10">
            <tr>
                <th>Activity Code</th>
                <th>Name</th>
                <th>Minimum Participants</th>
                <th>Maximum Participants</th>
                <th>Remarks</th>
                
                <th>Action</th>
            </tr>
            <tr>
                <td>{{data.code}}</td>
                <td>{{data.name}}</td>
                <td>{{data.min_participants}}</td>
                <td>{{data.max_participants}}</td>
                <td>{{data.description}}</td>
                <td>
                    
                    <a href="{% url 'list_participants' data.id %}">List Participants</a> |
                    <a href="{% url 'event_edit' data.id %}">Modify</a> |
                    <a href="{% url 'event_delete' data.id %}">Delete</a> |
                    {% if data.is_active %}
                    <a href="{% url 'stop_event' data.id %}">Stop</a>
                    {% else %}
                    <a href="{% url 'start_event' data.id %}">Start</a>
                    {% endif %}
                   
                    

                    
                 
                </td>
            </tr>
        </table>
    </form>

    <div class="col-md-12">
       

    </div>
    {% if mess == 1 %}
    <script>
        alert("This Activity is finished you can view the results");
        window.location = "../../eventview/{{data.id}}";
    </script>

    {% endif %}
</body>

</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}