<!-- change_capacity.html -->
{% extends 'Organizer/Head.html'%}
{% load static %}
{%  block content %}
<br><br><br><br>
<!-- change_capacity.html -->

<form method="post">
    {% csrf_token %}
    <h3 class="text-center">Change capacity of Rooms</h3>
    <table align="center">
        {% for room in rooms %}
            <tr>
                <td>{{ room.number }} Capacity:</td>
                <td><input type="number" name="room_{{ room.number }}_capacity" value="{{ room.capacity }}" required></td>
            </tr>
           
        {% endfor %}
        <tr colspan="2">
            <td colspan="2" align="right"><input type="submit" value="Next" id="submit" name="btn"></td>
        </tr>
    </table>
    
</form>
{% if messages %}
{% for message in messages %}
<div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
    data-timeout="3000" role="alert">
    {{message}}
    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}