{% extends 'Organizer/Head.html'%}
{% load static %}
{% block content %}
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="" id="print-section">
        <form action="" method="post">
            {% csrf_token %}

            <div class="col-md-12 text-center">
                <span>Event Code: {{event.code}} </span>
                <span>Total capacity: {{event.tot_capacity}}</span>
            </div>
            <table border="1" align="center" cellpadding="10">
                <tr>
                    <th>#</th>
                    <th>Code</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.code }}</td>

                </tr>
                {% endfor %}
            </table>
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
            data-timeout="3000" role="alert">
            {{message}}
            <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-12 float-end">
        <button class="d-flex btn btn-danger float-end " onclick="printSection('print-section')">
            Print
        </button>
    </div>

    <script>
        function printSection(sectionId) {
            var printContent = document.getElementById(sectionId).innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = printContent;

            window.print();

            document.body.innerHTML = originalContent;
        }

    </script>

</body>

</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}