{% extends 'Organizer/Head.html'%}
{% load static %}


{% block content %}
<br><br><br><br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table align="center" cellpadding="10">
        <tr>
            {% for i in room %}
            <td>

                {% for group_name, participants in data.items %}
                {% if group_name == i.number %}
                <div style="text-align:center;border:1px solid black;margin:22px;padding:20px">
                    <h2>{{ group_name }}</h2>
                    {% for participant_name in participants %}

                    <p>{{ participant_name }}</p>


                    {% endfor %}

                    <br>
                    {% endif %}
                    {% endfor %}

                </div>

            </td>
            {% if forloop.counter|divisibleby:4 %}
        </tr>
        <tr>
            {% endif %}

            {% endfor %}
    </table>
    {% if messages %}
    {% for message in messages %}
    <div class="alert  {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% elif message.tags == 'warning' %} alert-warning {% endif %} alert-dismissible fade show"
        data-timeout="3000" role="alert">
        {{message}}
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
</body>

</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}